body{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
header{
    width: 100%;
    text-align: center;
    color: rgb(20, 116, 155);
    height: 160px;
    padding: 60px 0px;
    background-color: greenyellow;
    


}
nav{
    clear: both;
    background-color: lawngreen;
}
nav ul li{
    display: inline-block;
    color: rgb(205, 202, 50);
    font-size: 150%;
    padding: 20px;
    list-style: none;
    
    

}
nav ul li a{
    text-shadow:  1px 1px;
    color:rgb(195, 205, 50);
    background-color: rgb(3, 46, 24);
    border: black 2px solid;
    border-radius: 50px 50px;
    margin-left: 100px;
    
}
nav ul li a:hover{
    background-color: rgb(114, 114, 9);
    color: yellow;
    border: solid rgb(52, 240, 52);
    border-radius: 30px 60px;

}
article{
    clear: both;
    padding: 30px 60px;
}
h1{
    text-align: center;
    color: rgb(166, 233, 166);
    text-shadow: 1px 1px;
}
section{
    float: left;
    font-weight: 300;
    padding: 30px;
    width: 50%;
    font-size: 20px;
    color: deepskyblue;
    box-sizing: border-box;
}
footer{
    background-color:grey;
    border: 1px solid yellow;
    clear: both;
    padding: 30px 30px;
    text-align: center;
    color: ghostwhite;
    text-shadow: 1px 1px;


}
@media (min-width: 960%){
    section{
        width: 100%;
    }
}
@media (min-width:400px) and (max-width:600px){
    header{
        background-color: yellow;
    }
}
@media (min-width: 400px) and (max-width: 600px){
    nav{
        background-color: yellow; 
     }
    }
@media print{
    nav, footer{
        display: none;
        background-color: lightgreen ;
    }
    a{
        text-decoration: none;
        color: lightgreen;
    }
}

    
    
       
        
    


